<!-- signup.component.html -->

<mat-card class="signup-card">
    <mat-card-header>
      <mat-card-title>Sign Up</mat-card-title>
    </mat-card-header>
  
    <form [formGroup]="signupForm">
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput formControlName="firstName" type="text" required>
        <mat-error *ngIf="signupForm.get('firstName')?.invalid && (signupForm.get('firstName')?.dirty || signupForm.get('firstName')?.touched)">
          Please enter a valid first name.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput formControlName="lastName" type="text" required>
        <mat-error *ngIf="signupForm.get('lastName')?.invalid && (signupForm.get('lastName')?.dirty || signupForm.get('lastName')?.touched)">
          Please enter a valid last name.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" type="text" required>
        <mat-error *ngIf="signupForm.get('username')?.invalid && (signupForm.get('username')?.dirty || signupForm.get('username')?.touched)">
          Please enter a valid username.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
        <mat-error *ngIf="signupForm.get('email')?.invalid && (signupForm.get('email')?.dirty || signupForm.get('email')?.touched)">
          Please enter a valid email address.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
        <mat-error *ngIf="signupForm.get('password')?.invalid && (signupForm.get('password')?.dirty || signupForm.get('password')?.touched)">
          Please enter a valid password.
        </mat-error>
      </mat-form-field>
  
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" (click)="onSignup()">Sign Up</button>
        <a mat-button routerLink="/login">Login</a>
      </div>
    </form>
  </mat-card>
  