<!-- login.component.html -->

<mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
  
    <form [formGroup]="loginForm">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" type="email" required>
        <mat-error *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
          Please enter a valid email address.
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="password" type="password" required>
        <mat-error *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
          Please enter a valid password.
        </mat-error>
      </mat-form-field>
  
      <div class="button-container">
        <button mat-raised-button color="primary" type="submit" (click)="onSubmit()">Login</button>
        <a mat-button routerLink="/signup">Register</a>
      </div>
    </form>
  </mat-card>
  